:root {
  --primary-button-bg: #ec1f11;
  --primary-button-bg_hover: #c40900;
  --primary-bg: #f6f6f6;
  --secondary-bg: #fff;
  --primary-color: #000;
  --secondary-color: #fff;
  --light-title: rgba(0, 0, 0, 0.2);
}

:root.dark {
  --primary-bg: #1d1d1d;
  --secondary-bg: #000;
  --primary-color: #fff;
  --secondary-color: #000;
  --light-title: rgb(255, 255, 255, 0.2);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--primary-bg);
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  grid-column: 1/-1;
}

header div {
  display: flex;
  align-items: center;
}

header h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 3rem 0;
  font-size: 3rem;
  color: var(--primary-color);
}

header div .btn-dark-light {
  position: relative;
  width: 54px;
  height: 28px;
  background-color: var(--primary-color);
  border-radius: 28px;
  transition: transform 1s;
  cursor: pointer;
}

header div .btn-dark-light::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--primary-bg);
  border-radius: 28px;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 4px;
}

header div .btn-dark-light.dark::before {
  transform: translateX(26px);
}

header div .btn-dark-light::after {
  content: attr(data-theme);
  color: var(--primary-color);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

main {
  margin: 3rem 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 2px solid var(--secondary-color);
  min-width: 180px;
  text-align: center;
}

nav ul li a:hover {
  border-color: var(--primary-button-bg);
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section.presentation {
  position: relative;
}

section.presentation::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--primary-button-bg);
  transform: translateX(-50%);
  left: 50%;
  top: 30px;
}

section.presentation .content {
  background-color: var(--secondary-color);
  padding: 3rem;
  text-align: right;
}

section.presentation h1 {
  color: var(--primary-color);
}

section.presentation p {
  color: var(--primary-color);
}

section.presentation .content a {
  text-decoration: none;
  background-color: var(--primary-button-bg);
  color: #fff;
  padding: 20px 40px;
  display: inline-block;
  font-weight: bold;
  border-radius: 0.25rem;
}

section.presentation .content a:hover {
  background-color: var(--primary-button-bg_hover);
}

section.presentation .content_img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

section.advantages h1 {
  font-size: 4rem;
  color: var(--light-title);
  text-align: right;
  place-self: center;
  padding: 2rem;
}

section.advantages ul {
  background-color: var(--secondary-bg);
  margin: 0;
  padding: 3rem;
  list-style: none;
}

section.advantages ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  padding: 1.5rem;
  border-left: 3px solid transparent;
}

section.advantages ul li:hover {
  border-color: var(--primary-button-bg);
}

section.advantages ul li:nth-child(odd) {
  background-color: var(--primary-bg);
}

section.advantages ul li h3 {
  color: var(--primary-color);
  padding: 0;
  margin: 0;
}

section.advantages ul li p {
  color: var(--primary-color);
  grid-column: 2;
  margin: 0;
}

@media (max-width: 950px) {
  section.advantages h1 {
    font-size: 3rem;
  }
}

@media (max-width: 760px) {
  section.advantages {
    grid-template-columns: 1fr;
  }
  section.advantages h1 {
    font-size: 3rem;
    text-align: center;
  }
  section.advantages ul {
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  section {
    grid-template-columns: 1fr;
  }
  header h1 {
    padding: 2rem 0;
  }
  main {
    margin: 2rem 0;
  }
}

@media (max-width: 385px) {
  section.advantages h1 {
    font-size: 2rem;
  }
}
